@import "../../variables.scss";

.board {
	width: 100vw;
	height: auto;
	margin: auto;
	padding: 0;
	display: flex;
	flex-direction: column;

	@media (min-width: $breakpoint-md) {
		width: calc(100vw - 20px);
		flex-direction: row;
		padding: 15px;
	}

	&__wrapper {
		position: relative;
		width: 90%;
		height: 100%;
		margin: 10px;
		background-color: $white;
		border-radius: 7px;

		@media (min-width: $breakpoint-md) {
			height: 100%;
		}

		&--todo {
			width: calc(100% - 20px);
			height: 90vh;

			@media (min-width: $breakpoint-md) {
			width: 70%;
			}
		}

		&--done {
			height: 90vh;
			width: calc(100% - 20px);

			@media (min-width: $breakpoint-md) {
				width: 30%;
			}
		}
	}

	&__header {
		width: 100%;
		position: sticky;
		top: 0;
		left: 0;
		padding: 15px;
		z-index: 1;

		&--todo {
			background-color: $dark-bluegrey;
		}

		&--done {
			background-color: $green;
		}
	}

	&__cards {
		position: absolute;
		// top: 65px;
		// left: 15px;
		height: calc(100% - 70px);
		width: 100% ;
		display: flex;
		justify-content: space-evenly;
		align-items: flex-start;
		flex-direction: row;
		flex-wrap: wrap;
		overflow: scroll;
    overflow-x: hidden;

		@media (min-width: $breakpoint-md) {
			// top: 100px;
		}

		&--done {
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: flex-start;
		}
	}
}