@import "../../variables.scss";

.board {
	width: 100vw;
	height: calc(50vh - 80px);
	margin: auto;
	display: flex;

	@media (min-width: $breakpoint-md) {
		width: calc(100vw - 20px);
	}

	&__wrapper {
		width: 95%;
		height: 90%;
		margin: auto;
		padding: 15px;
		overflow: scroll;
		overflow-y: hidden;
		background-color: $white;
		border-radius: 7px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
}