$header: 'Karla', sans-serif;
$paragraph: 'Lato', sans-serif;

// Breakpoints
$breakpoint-sm: 360px;
$breakpoint-md: 768px;
$breakpoint-lg: 990px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1800px;

$terracotta: #E27D60;
$blue: #85DCCB;
$orange: #E8A87C;
$purple: #C38D9E;
$green: #41B3A3;
$white: whitesmoke;
$black: #292929;
$grey: #7d7d7d;
$bluegrey: #afc3c5;
$dark-bluegrey: #659094;