@import "../../variables.scss";

.card {
	position: relative;
	height: 100%;
	max-height: 500px;
	width: 30%;
	max-width: 400px;
	min-width: 300px;
	margin: 10px;
	border-radius: 7px;
	background-color: white;
	box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.15);

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 50px;
		padding: 10px;
		background-color: $orange;
		border-radius: 7px 7px 0 0 ;
		
		&__icon {

		}
	}

	&__body {
		height: calc(100% - 109px);
		overflow: scroll;
		overflow-x: hidden;
		article {
			ul {
				li {
					margin: 5%;
					background-color: whitesmoke;
					padding: 5px;
					border-radius: 3px;
					border-bottom: 2px solid grey;

					h4 {
						display: inline;
					}
				}
			}
		}
	}

	&__footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		height: 50px;
		background-color: $white;
	}
}