@import "../../variables.scss";

.card {
	position: relative;
	height: 100%;
	max-height: 500px;
	width: 95%;
	margin: 20px auto;
	border-radius: 7px;
	background-color: white;
	box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.15);

	@media (min-width: $breakpoint-md) {
		height: 100%;
		width: calc(25% - 40px);
		margin: 20px;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 50px;
		max-height: 80px;
		padding: 10px;
		background-color: $bluegrey;
		border-radius: 7px 7px 0 0 ;

		&__title {
			h3 {
				text-overflow: ellipsis;
				width: 150px;
				overflow: hidden;
				white-space: nowrap;
			}
		}

		&__icon {
			width: 35%;
			display: flex;
			justify-content: flex-end;
		}
	}

	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 5px 10px;
		height: 50px;
		background-color: $white;

		article {
			display: flex;
			align-items: center;

			h5 {
				color: $grey;
			}
	
			p {
				text-transform: capitalize;
				color: $terracotta;
				font-weight: 500;
				font-style: italic;
				margin-left: 10px;
			}

			svg {
				font-size: 2em!important;
			}
		}
	}

	&__body {
		height: calc(100% - 130px);
		overflow: scroll;
		overflow-x: hidden;

		article {

			ul {

				li {
					margin: 5%;
					background-color: whitesmoke;
					padding: 5px;
					border-radius: 3px;
					border-bottom: 2px solid grey;

					h4 {
						display: inline;
					}
				}
			}
		}
	}

	&__footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		height: 50px;
		background-color: $white;
	}
}