@import "../../variables.scss";

.button {
	width: max-content;
	min-width: 130px;
	padding: 10px 15px;	
	border-radius: 30px;
	border: none;
	transition: all ease-in-out .25s;
	background-color: $blue;

	&:hover {
		background-color: $green;
		cursor: pointer;
	}
}