@import "../../variables.scss";

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $white;
	height: 80px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;

	.item {
		position: absolute;

		&--createnew {
			display: none;
			left: 10px;

			@media (min-width: $breakpoint-md) {
				display: block;
				left: 2%;
      }
		}

		&--identity {
			left: 30px;

			@media (min-width: $breakpoint-md) {
				left: 7%
      }
		}

		&--users {
			width: 20%;
			right: 10px;

			@media (min-width: $breakpoint-md) {
				right: 2%;
			}
			
			section {
				display: flex;

				p {
					margin-right: 15px;
					text-transform: capitalize;
					font-weight: 600;
					font-style: italic;
					color: $purple;
				}
			}
		}

		&--menu {
			right: 10px;

			@media (min-width: $breakpoint-md) {
				right: 2%;
      }
		}
	}
}